# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Create a markdown cell with a table of Data Science tools:


| Data Science Tools |
| --- |
| Jupyter Notebook |
| Spyder           |
| RStudio          |

Create a markdown cell introducing arithmetic expression examples

## Below are a few examples of evaluating arithmetic expressions in Python:

In [9]:
(3*4)+5

17

In [10]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Insert a markdown cell to list Objectives
Objectives:
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

Create a markdown cell to indicate the Author's name
## Author
Aniruddh tiwari